<header>
  <div class="header-container">
    <div class="header-left">
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="logo">
        <a href="{{#if user}}/home{{else}}/{{/if}}">
          <img src="/images/logo.png" alt="PicsForge Logo" />
        </a>
      </div>
    </div>
    {{#if user}}
      <div class="header-user-section">
        <span class="header-greeting">Hello, {{user.username}}</span>
        <div class="header-avatar" onclick="location.href='/profile'">
          <div class="avatar" title={{user.username}}>
            {{#if user.avatarUrl}}
              <img src="{{user.avatarUrl}}" alt="{{user.username}}'s avatar" class="avatar-image">
            {{else}}
              {{getInitials user.username}}
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="header-login-button">
        <button onclick="location.href='/login'">Login</button>
      </div>
    {{/if}}
  </div>
</header>

<nav class="side-nav" id="sideNav">
  <ul>
    <li><a href="{{#if user}}/home{{else}}/{{/if}}">Home</a></li>
    {{#if user}}
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/profile">Profile</a></li>
    {{/if}}
    <li><a href="/about">About</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    {{#if user}}
      <li><a href="/auth/logout">Logout</a></li>
    {{/if}}
  </ul>
</nav>